@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Mobile:</strong> <a href="javascripts:;">18656991930</a>
    <strong>Support:</strong>   <a href="mailto:627586766@qq.com">627586766@qq.com</a><br />
</address>